# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data files (you may want to exclude large raw data)
data/
#*.csv
#*.parquet

# OS
.DS_Store
Thumbs.db